body {
    font-family: 'Roboto Mono', monospace;
    color: #555;
}

div.main {
    line-height: 1.5;
    padding: 4em 1em;
    max-width: 50em;
    margin: auto;
}

h1,
h2,
strong {
    color: #333;
}

h2 {
    text-align: center;
}

a {
    color: #f00;
}

.main li {
    padding-top: 0.5em;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eee;
    position: fixed;
    top: 0;
    width: 100%;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px; /*TODO is this okay? With px instead of em*/
}

.header a.logo {
    font-size: 18px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: #f00;
}

li.header-right {
    float: right;
}

.header-content {
    max-width: 52em;
    margin: auto;
}

/* Add media queries for responsiveness - when the screen is 500px
 * wide or less, stack the links on top of each other */
 @media screen and (max-width: 500px) {
     .header ul {
         position: relative;
     }
     .header li {
         float: none;
         display: block;
         text-align: left;
     }
     li.header-right {
         float: none;
     }
     .header a.logo {
         text-align: center;
     }
 }

 .header img {
     width: 45px;
     height: auto;
     padding: 0px 10px; 
     display: inline-block;
     vertical-align: middle;
 }

 div.footer {
    max-width: 50em;
    margin: auto;
 }

 .footer img {
     width: 100px;
     height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding: 4em 0em;
 }

 .footer a {
     display: inline-block;
 }
 
 .footer-back {
     float: left;
 }

 .footer-next {
     float: right;
 }